@page "/AddAttendee"
@rendermode InteractiveServer
@using BlazorApp4.Data
@using Microsoft.AspNetCore.Identity
@inject MeetingService MeetingService
@inject RoomService RoomService
@inject UserManager<ApplicationUser> UserManager

<h3>AddAttendee</h3>

@code {

}
