@page "/FileComplaint"
@rendermode InteractiveServer
@using BlazorApp4.Data
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@inject ComplaintService ComplaintService

@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider



<PageTitle>File a Complaint</PageTitle>

<h1>File a Complaint</h1>

<EditForm Model="newComplaint" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="body">Complaint:</label>
        <InputTextArea id="body" class="form-control" @bind-Value="newComplaint.Body" />
    </div>

    <button type="submit" class="btn btn-primary">Submit Complaint</button>
</EditForm>

@code {
    private Complaint newComplaint = new Complaint();
    private ApplicationUser? currentUser;

    private async Task HandleValidSubmit()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            currentUser = await UserManager.GetUserAsync(user);
        }
        newComplaint.Sender = currentUser;
        await ComplaintService.AddComplaintAsync(newComplaint);
        newComplaint = new Complaint(); // Reset the form
    }
}
