@page "/Help"


<h1>Client Features</h1>
<p></p>

<h3>Home Screen</h3>
<p>The Home screen will be the original login page and will give a brief 
    overview of the features that are available to the clients using this tool.</p>

<h3>File a Complaint</h3>
<p>The "File a Complaint" tab on the navigation bar is used to suggest changes 
    within the company or even used to make an administrator aware of conflict or problems.
    These complaints will be added to a list and an administrator will be informed that a complaint has been submitted.
    Once the administrator has resolved the complaint with the submitting client, the complaint can be marked as
    resolved and removed from the list.
</p>

<h3>Add Room</h3>
<p>The "Add Room" tab on the navigation bar is used to create a new room to be available for meetings. 
    This room will be given the next sequential number for convinience and will be given the option to be 
    a special room. Being a special room will require the user to pay a fee of $100. The payment information used for this 
    purchase will need to be filled out in the users profile information. Once created, the room will be available
    when creating a meeting.</p>

<h3>Create Meeting</h3>
<p>The "Create Meeting" tab on the navigation bar is used when clients need to schedule a new meeting. 
    The tab will ask the user which room they would like the meeting to be hosted in. Once the room is
    chosen, the client will need to select a time from the list of available time slots. Each meeting 
    will take a 1 hour time slot and must be between the hours of 9am and 5pm. Once a meeting is created,
    the time slot will be reserved.</p>

    <h3>Room Availability</h3>
<p>The "Room Availability" tab on the navigation bar is used for viewing the time slots that are open for each 
    room that has been created. The rooms will indicate if they are a special next to the room number and will 
    then be followed by the remaining time slots.</p>

<h3>Profile Information</h3>
<p>The tab that has the clients email address is the clients profile. The client profile contains various pieces of information. 
    The first being name and contact information. This information can be updated by the user at any point. The second tab will 
    contain the clients billing information that will be used to pay for special rooms. The next tab will allow the user to change 
    their password by entering their old password once and the new password twice. The next tab handles the two factor authentication 
    to allow for increased security of the account. The last tab will allow teh user to delete the account or download the account info 
    to be stored offline.</p>

<h3>Logout</h3>
<p>The "Logout" button will be used to log the current user out of the system. This is used to increase security be confirming that 
    access to the system is not unintentionally granted through the users account. It is recommended that every user log out of the 
    application before leaving their workstation.</p>

<h1>Administrator Features</h1>
<p>*All administrators have the clients features as well as the following features*</p>
<p></p>

<h3>View Meetings</h3>
<p>The "View Meetings" tab will allow an administrator to get a schedule of all the meetings that have been created. This list will 
        show the meeting title, room number, date and time of the meeting, the clients attending the meeting, and the meeting creator.
        The meetings can be filtered by room, date and time, or the creator. This will allow for a simpler view of the page an quick 
        aquisition of meeting info.</p>

<h3>Resolve Complaints</h3>
<p>The "Resolve Complaints" tab is used by an administrator to handle the submitted complaints. It is only vissible to admins, so the 
        complaints will remain anonymous to the other clients. The administrator will obtain the details of teh complaint and then are 
        urged to set up an in-person meeting to resolve the complaint. The complaint can then be marked as resolved and be removed from the list.</p>

<h3>Make Administrator</h3>
<p>The "Make Administrator" tab is used by an administraator to grant higher level access to a client. The admin will need to enter the clients 
        account info into the box and confirm that they would like to upgrade the clients permissions. This will give the client access to 
        the features cover under this section.</p>

<h3>Create User</h3>
<p>The "Create User" tab will allow an administrator to create a new account. This will require the admin to enter a new email address and password. 
        The new account will be created an given the client level access. They will then be required to login and edit their profile informaiton.</p>

<h3>*This list of helpful info may not be complete. If there is anything that should be added, please enter a complaint with the information that
    should be added to the help page*</h3>

@code {

}
